<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="control-group">
    <%= f.label :title, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :content %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :from, class: "control-label" %>
    <div class="controls">
      <%= current_user.name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :to, class: "control-label" %>
    <div class="controls">
      <%= f.select :to_id, User.all(:role.not => current_user.role ).map { |user| [ user.name, user.id ] }  %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>


<% end %>
