{
  "from_id" : "<%= @message.from.id %>",
  "from" : "<%= @message.from.name %>", 
  <% if @message.class.name == "CoachMessage" %>
  "to" : "<%= @message.to.name %>",
  <% end %>
  "date" : "<%= @message.date.strftime("%Y/%m/%d %H:%M:%S") %>",
  "content" : "<%= @message.content %>",
  "attachments" : [ 
    <% @message.attachments.each_index{ |index| %>
      "<%= @message.attachments[index].filename %>" 
      <% if index < @message.attachments.size - 1 %>
        ,
      <% end %>
    <% } %>
  ]
}
