<div class="form-horizontal">

<h1>Editing message</h1>

<%= render 'form' %>

<%= link_to 'Show', @message, class: "btn btn-primary" %> 
<%= link_to 'Back', messages_path, class: "btn btn-primary" %>

</div>
