[
<% @messages.each_index { |index| %>
  { 
    "from_id" : "<%= @messages[index].from.id %>",
    "from" : "<%= @messages[index].from.name %>", 
    <% if @messages[index].class.name == "Message" %>
    "to" : "treinadores",
    "to_id" : "0",
    <% else %>
    "to" : "<%= @messages[index].to.name %>",
    "to_id" : "<%= @messages[index].to.id %>",
    <% end %>
    "date" : "<%= @messages[index].date.strftime("%Y/%m/%d %H:%M:%S") %>", 
    "content" : "<%= raw StringHelper.convert_special_characters( @messages[index].content ) %>", 
    "position" : "<%= @messages[index].position %>",
    "attachments" : [ 
      <% @messages[index].attachments.each_index { |att_index| %>
        "<%= '/download/'+@messages[index].id.to_s+'/attachment?filename='+@messages[index].attachments[att_index].filename %>"
        <% if att_index < @messages[index].attachments.size - 1 %>
        ,
        <% end %>
      <% } %>
    ] 
   }
   <% if index < @messages.size - 1 %>
   , 
   <% end %>
<% } %>
]
