<h1>Lista de Mensagens</h1>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>From</th>
    <th>To</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.title %></td>
    <td><%= message.content %></td>
    <td><%= message.from.name %></td>
    <td><%= message.to.name %></td>
    <td><%= link_to 'Show', message, class: "btn btn-mini btn-primary" %></td>
    <td><%= link_to 'Edit', edit_message_path(message), class: "btn btn-mini btn-primary" %></td>
    <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path, class: "btn btn-primary" %>
