
<p id="notice"><%= notice %></p>

<div class="page-header">
  <h2><%= @message.title %></h2>
</div>

<div>
  <b>From: </b>  
  <%= @message.from.name %>
</div>

</br>

<div>
  <b>To: </b>
  <%= @message.to.name %>
</div>

</br>

<div class="well well-large">
  <%= @message.content %>
</div>

</br>

<%= link_to 'Edit', edit_message_path(@message), class: "btn btn-primary" %> |
<%= link_to 'Back', messages_path, class: "btn btn-primary" %>

