<% if @resource.errors.size == 0 %>
{
  "name" : "<%= @resource.name %>",
  "email" : "<%= @resource.email %>",
  "features" : <%= raw @resource.features.to_s %>
} 
<% else %>
{
  "errors":
  <%= raw @resource.errors.full_messages.to_s %>  
}
<% end %>
