/* ********************* Body ********************** */

.praiafit-login-body
{
  background-image:url('../images/background-5-small.jpg');
  background-repeat:no-repeat;
  background-size: cover;
}

.praiafit-authenticated-body
{
  background-image:url('../images/sand_texture.png');
  background-size: contain;
}

/* ******************** Error label ***************** */

.praiafit-error
{
  color:red;
  text-align:center;  
}

/* ********************** Login Area ************************* */

.praiafit-login
{
  display:none;
}

.login-form
{
  background-color:#dddddd;
  opacity:0.85;
  filter:alpha(opacity=85); /* For IE8 and earlier */
  margin: 0 auto;
  text-align: left;
  max-width: 400px;
  min-width: 250px;
}

/* ********************* Authenticated Area ************** */

.praiafit-authenticated
{
  display:none;
}

.praiafit-header
{
  background-color:#dddddd;
  opacity:0.85;
  filter:alpha(opacity=85); /* For IE8 and earlier */  
}

.praiafit-logo
{
  position:relative; 
  padding-right:15%
}

.praiafit-user
{
  background-color:#555555;
  padding-right:15%;
}

.praiafit-nav
{
  background-color:#dddddd;
  opacity:0.85;
  filter:alpha(opacity=85); /* For IE8 and earlier */
}

/* ******************* Messages tab ******************* */

.messages
{
  display:none;
  opacity:0.85;
  filter:alpha(opacity=85); /* For IE8 and earlier */
}

.coach-message 
{
  background-color:#0faf0f;
  position:relative;
  left:40%;
  width:50%;
  max-width:500px;
  opacity:0.90;
  filter:alpha(opacity=90); /* For IE8 and earlier */
}

.customer-message
{
  background-color:#cccccc;
  position:relative;
  left:10%;
  width:50%;
  max-width:500px;
  opacity:0.90;
  filter:alpha(opacity=90); /* For IE8 and earlier */
}

.message-form
{
  background-color:#999999; /* #9f9fff; */
  padding:5px;  
  position:relative;
  left:10%;
  max-width:800px;
  width:85%;
  opacity:0.95;  
  filter:alpha(opacity=95); /* For IE8 and earlier */
}

/* ******************* Users tab *********************** */

.users
{
  display: none;
  opacity:0.85;
  filter:alpha(opacity=85); /* For IE8 and earlier */
}

.user-table
{
  background-color:#ff9f9f;
  opacity:0.95%;
  filter:alpha(opacity=95); /* For IE8 and earlier */
}

.empty-lines
{
  background-color: transparent;
}

.user-form
{  
  background-color:#9f9fff;  
  padding:5px; 
  opacity:0.90; 
  filter:alpha(opacity=90); /* For IE8 and earlier */
}

/* ******************* Profile tab ********************* */

.profile
{
  display:none;
  opacity:0.85;
  filter:alpha(opacity=85); /* For IE8 and earlier */
}

.profile-form
{
  margin-left:auto;
  margin-right:auto;
  background-color:#dddddd;
  padding:5px;  
  max-width:600px;
  width:80%;
  opacity:0.90;
  filter:alpha(opacity=90); /* For IE8 and earlier */
}

/* ******************** About tab ********************* */

.about
{
  display:none;
  opacity:0.85;
  filter:alpha(opacity=85); /* For IE8 and earlier */
}

.about-area
{
  margin-left:auto;
  margin-right:auto;
  background-color:#dddddd;
  padding:5px;  
  width:95%;
  max-width:600px;
  opacity:0.90;
  filter:alpha(opacity=90); /* For IE8 and earlier */
}

/* ******************** Visible Area ****************** */

.visible
{
  display:inline;
}

.invisible
{
  display:none;
}


