<div class="form-horizontal">

<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Show', @user, class: "btn btn-primary" %> |
<%= link_to 'Back', users_path, class: "btn btn-primary" %>

</div>
