[
  <% @users.each_index{ |index| %>
  { 
    "id" : "<%=@users[index].id%>",
    "name":"<%=@users[index].name%>", 
    "email":"<%=@users[index].email%>", 
    "role":"<%= Role.to_string( @users[index].role ) %>" }
  <% if index < @users.size-1 %>
  ,
  <% end %>
  <% } %>
]  
