<h1>Listing users</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.role.name %></td>
    <td><%= link_to 'Show', user, class: "btn btn-mini btn-primary" %></td>
    <td><%= link_to 'Edit', edit_user_path(user), class: "btn btn-mini btn-primary"  %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path, class: "btn btn-primary" %>
