[
<% @messages.each_index { |index| %>
  { 
    "from_id" : "<%= @messages[index].from.id %>",
    "from" : "<%= raw @messages[index].from.name %>", 
    "date" : "<%= @messages[index].date.strftime("%Y/%m/%d %H:%M:%S") %>", 
    <% if @messages[index].class.name == "Message" %>
    "to" : "treinadores",
    "to_id" : "0",
    <% else %>
    "to" : "<%= @messages[index].to.name %>",
    "to_id" : "<%= @messages[index].to.id %>",
    <% end %>
    "content" : "<%= raw @messages[index].content %>", 
    "position" : "<%= @messages[index].position %>"
   }
   <% if index < @messages.size - 1 %>
   , 
   <% end %>
<% } %>
]
