<p id="notice"><%= notice %></p>

<h2><%= @user.name %></h2>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Role:</b>
  <%= @user.role.name %>
</p>

<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" %> |
<%= link_to 'Back', users_path, class: "btn btn-primary" %>
