<style type="text/css">
  body {
        margin:auto;
        width:70%;
        padding-top: 40px;
        padding-bottom: 40px;
      }
</style>


<div class="container span3 offset2">

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

    <div class="control-group">

      <h2>Sign in</h2>

      <div>
        <!-- <%= f.label :email %><br /> -->
        <%= f.email_field :email, :autofocus => true,  :placeholder=>"Email" %>
      </div>

      <div>
        <!-- <%= f.label :password %><br /> -->
        <%= f.password_field :password,  :placeholder=>"Password" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="checkbox"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <% end -%>

      <div><%= f.submit "Sign in", :class=>"btn btn-large btn-primary" %></div>

    </div>

  <% end %>

  <!-- 
    <%= flash[:notice] if flash[:notice] 
        flash[:alert] if flash[:alert] %><br />
  -->

  <%= render "devise/shared/links" %>


</div>

